/* body */

.body {
  background-color: #0a0a0a;
  color: #fff;
  padding-bottom: 80px;
}
.body__hello {
  display: flex;
  align-items: center;

  margin-bottom: 50px;
  padding-top: 190px;
}
.body__hello div:first-child {
  margin-right: 80px;
}

.body__main {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
}
.body__main__row {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
}
.body__main__row__item {
  width: 50%;
  margin-top: 100px;
}
.body__main__row__item.pc {
  margin-top: 53px;
}
.body__main__row__item__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  margin-bottom: 20px;
  color: var(--primary-color);
}
.body__main__row__item__desc {
  max-width: 530px;
}
.body__main__row__item__desc p {
  margin-bottom: 10px;
}
.body__main__row__item__desc p:last-child {
  margin-bottom: 0;
}
.languages {
  margin-top: 100px;
}
/* mobile */
@media screen and (max-width: 600px) {
  .body__hello {
    margin-bottom: 30px;
    padding-top: 75px;
  }
  .body__main__row {
    flex-direction: column;
    gap: 0;
  }
  .body__main__row__item {
    width: 100%;
    margin-top: 30px !important;
  }
  .body__main__row__item__title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;

    margin-bottom: 10px;
    color: var(--primary-color);
  }
  .body__main__row__item__desc p {
    margin-bottom: 5px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
  }
  .body__main__row__item__desc p:last-child {
    margin-bottom: 0px;
  }
  .body__main__row__item__title.languages {
    margin-top: 30px;
  }
  .body__hello div:first-child {
    margin-right: 20px;
  }
}
